body{
    margin: 0, auto;
}

.container{
    border: 1px solid black;
    margin: auto;
    width: 65%;
}

.color-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.font-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.style-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-item{
    width: 30%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

#federal-blue{
    background-color: #03045E;
}

#honolulu-blue{
    background-color: #0077B6;
}

#pacific-cyan{
    background-color: #00B4D8;
}

#non-photo-blue{
    background-color: #90E0EF;
}

#light-cyan{
    background-color: #CAF0F8;
}

h2{
    margin-left: 10px;
    text-align: left;
}

#style-roboto{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Roboto";
    font-size: 20px;
}

#style-montserrat{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Montserrat";
    font-size: 20px;
}

#style-ubuntu{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Ubuntu";
    font-size: 20px;
}

.regular{
    margin-left: 10px;
}

.bold{
    margin-left: 10px;
    font-weight: bold;
}

.italic{
    margin-left: 10px;
    font-style: italic;
}

.title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

#roboto{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Roboto";
    font-size: 20px;
}

#montserrat{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Montserrat";
    font-size: 20px;
}

#ubuntu{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    font-family: "Ubuntu";
    font-size: 20px;
}

.heading{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
}

.subheading{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.paragraph{
    margin-left: 10px;
}

h1{
    text-align: center;
}