.container{
    border: 1px solid black;
}

#font-container{
    border: 1px solid black;
}

#federal-blue{
    background-color: #03045E;
}

#honolulu-blue{
    background-color: #0077B6;
}

#pacific-cyan{
    background-color: #00B4D8;
}

#non-photo-blue{
    background-color: #90E0EF;
}

#light-cyan{
    background-color: #CAF0F8;
}